= form_for @library do |f|
  - if @library.errors.any?
    #error_explanation
      %h2= "#{pluralize(@library.errors.count, "error")} prohibited this library from being saved:"
      %ul
        - @library.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :library_set
    = f.select :library_set, options_for_select(LibrarySet.all.collect {|l| [l.title, l.id]}, :selected => @library.library_set.present? ? @library.library_set.id : nil)
  .actions
    = f.submit 'Save'
