- content_for :sidebar do
  = link_to 'New Library', new_library_path

%h1 Listing libraries

%table.table.table-striped
  - @libraries.each do |library|
    %tr
      %td
        %b= link_to library.title, library
        - if (library.library_set.present?)
          = "(#{library.library_set.title})"
      %td= link_to 'Edit', edit_library_path(library)

%br

