- content_for :sidebar do
  %p
    %b Add Clip
    = form_for @new_clip, :html => { :multipart => true } do |f|
      = f.hidden_field :library, :value => @library.id
      = f.file_field :file

      .actions
        = f.submit 'Add Clip'

  %p
    %b Add clip from URL
    = form_tag add_clip_from_url_library_path do
      = text_field_tag :url
      .actions
        = submit_tag 'Add Clip from URL'

  %p
    = link_to 'Edit Library', edit_library_path(@library)

%p
  %b Title:
  = @library.title

%p 
  %b Clips

  %table.table.table-striped
    - @library.clips.each do |clip|
      %tr
        %td= link_to image_tag(clip.file), clip
        %td
          = form_for Saying.new do |f|
            = f.hidden_field :clip, :value => clip.id
            = f.text_field :text
            .actions
              = f.submit 'Add Saying'

        %td
          - clip.sayings.each do |saying|
            %i= saying.text
            = link_to 'Show', saying
            = link_to 'Destroy', saying, :method => :delete, :data => { :confirm => 'Are you sure?' }
            %br
        %td= link_to 'Destroy', clip, :method => :delete, :data => { :confirm => 'Are you sure?' }
